/* COLOR NAME */
/* h1{
    color: red;
} */

/* HEX CODE */

/* h1{
    color: #783209;
} */

/* RGB COLOR */

/* h1{
    color: rgb(120, 50, 85);
} */

/* B{ACKGROUND COLOR */

/* body{
    background-color: wheat;
} */

/* RGB CODE*/

/* body{
    background-color: rgb(200, 150, 30);    
} */

/* HEX CODE */

/* body{
    background-color: #fe4b11;
} */

/* div{
    background-color: wheat;
    color: red;
} */

/* OPACITY */

/* #div1{
    background-color: green;
    opacity: 0.5;
} */

/* img{
    opacity: 0.5;
} */

/* PH SCALE */

